.board-box {
    border: 0.5rem solid black;
    width: 100px;
    height: 100px;
    &:nth-child(3n) {
        border-right: none;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        border-top: none;
    }
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7) {
        border-left: none;
    }
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
        border-bottom: none;
    }
    opacity: 0;
    animation: rotateBoardBox 1000ms 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    
}

@keyframes rotateBoardBox{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
}